<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_Payment>
            <version>0.0.0.1</version>
        </Tele4G_Payment>
    </modules>
    <global>
        <models>
            <tele4G_payment>
                <class>Tele4G_Payment_Model</class>
            </tele4G_payment>
        </models>
        <blocks>
            <tele4G_payment>
                <class>Tele4G_Payment_Block</class>
            </tele4G_payment>
        </blocks>
        <helpers>
            <tele4G_payment>
                <class>Tele4G_Payment_Helper</class>
            </tele4G_payment>
        </helpers>
        <resources>
            <tele4G_payment_setup>
                <setup>
                    <module>Tele4G_Payment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </tele4G_payment_setup>
        </resources>
        <translate>
            <modules>
                <Tele4G_Payment>
                    <files>
                        <default>Tele4G_Payment.csv</default>
                    </files>
                </Tele4G_Payment>
            </modules>
        </translate>
    </global>
    <frontend>
        <routers>
            <payment>
                <use>standard</use>
                <args>
                    <module>Tele4G_Payment</module>
                    <frontName>payment</frontName>
                </args>
            </payment>
        </routers>
    </frontend>
    <default>
        <payment>
            <tele4G_cashondelivery>
                <active>1</active>
                <can_use_checkout>0</can_use_checkout>
                <model>tele4G_payment/method_cashOnDelivery</model>
                <order_status>pending</order_status>
                <title>Cash On Delivery</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <cost>69</cost>
            </tele4G_cashondelivery>
            <tele4G_downpayment>
                <active>1</active>
                <model>tele4G_payment/method_downPayment</model>
                <order_status>pending</order_status>
                <title>Pay With Down Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </tele4G_downpayment>
            <tele4G_invoice>
                <active>1</active>
                <model>tele4G_payment/method_invoice</model>
                <order_status>pending</order_status>
                <title>Pay With Invoice</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <cost>29</cost>
            </tele4G_invoice>
            <tele4G_auriga>
                <active>1</active>
                <title>Auriga Epayment</title>
                <cancel_url>payment/auriga/cancel/</cancel_url>
                <response_url>payment/auriga/response/</response_url>
                <api_test>1</api_test>
                <sort_order>10</sort_order>
                <model>tele4G_payment/auriga</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <cgi_url>https://epayment.auriganet.eu/paypagegw</cgi_url>
                <cgi_url_test>https://test-epayment.auriganet.eu/paypagegw</cgi_url_test>
            </tele4G_auriga>
            <tele4G_dibs>
                <active>1</active>
                <title>DIBS Payment Services</title>
                <accept_return_url>payment/dibs/return/</accept_return_url>
                <callback_url>payment/dibs/callback/</callback_url>
                <cancel_url>payment/dibs/cancel/</cancel_url>
                <entrypoint_url>https://sat1.dibspayment.com/dibspaymentwindow/entrypoint</entrypoint_url>
                <currency>752</currency>
                <language>sv_SE</language>
                <api_test>1</api_test>
                <sort_order>20</sort_order>
                <model>tele4G_payment/dibs</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
<!--                <cgi_url>https://epayment.auriganet.eu/paypagegw</cgi_url>
                <cgi_url_test>https://test-epayment.auriganet.eu/paypagegw</cgi_url_test>-->
            </tele4G_dibs>
        </payment>
    </default>
</config>
