<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_Sales>
            <version>0.0.1</version>
        </Tele4G_Sales>
    </modules>
    <global>
        <blocks>
            <tele4G_sales>
                <class>Tele4G_Sales_Block</class>
            </tele4G_sales>
        </blocks>
        <models>
            <tele4G_sales>
                <class>Tele4G_Sales_Model</class>
            </tele4G_sales>
            <sales>
                <rewrite>
                    <quote>Tele4G_Sales_Model_Quote</quote>
                    <order>Tele4G_Sales_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <salesrule>
                        <class>tele4G_sales/observer</class>
                        <method>salesOrderAfterPlace</method>
                    </salesrule>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <offer_data>
                    <to_order>*</to_order>
                </offer_data>
                <phone_notification>
                    <to_order>*</to_order>
                </phone_notification>
                <additional>
                    <to_order>*</to_order>
                </additional>
                <monthly_price_amount>
                    <to_order>*</to_order>
                </monthly_price_amount>
                <base_monthly_price_amount>
                    <to_order>*</to_order>
                </base_monthly_price_amount>
                <least_total_cost>
                    <to_order>*</to_order>
                </least_total_cost>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <expected_delivery_time>
                    <to_order_item>*</to_order_item>
                </expected_delivery_time>
                <description>
                    <to_order_item>*</to_order_item>
                </description>
                <make>
                    <to_order_item>*</to_order_item>
                </make>
                <partner_id>
                    <to_order_item>*</to_order_item>
                </partner_id>
                <article_id>
                    <to_order_item>*</to_order_item>
                </article_id>
                <offer_id>
                    <to_order_item>*</to_order_item>
                </offer_id>
            </sales_convert_quote_item>
         </fieldsets>
    </global>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <Tele4G_Sales before="Mage_Sales">Tele4G_Sales</Tele4G_Sales>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <tele4G_sales>
                    <file>tele4G/adminhtml.xml</file>
                </tele4G_sales>
            </updates>
        </layout>
    </adminhtml>
</config>
