<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_SS4Integration />
    </modules>
    <global>
        <helpers>
            <tele4G_sS4Integration>
                <class>Tele4G_SS4Integration_Helper</class>
            </tele4G_sS4Integration>
        </helpers>
        <models>
            <tele4G_sS4Integration>
                <class>Tele4G_SS4Integration_Model</class>
            </tele4G_sS4Integration>
        </models>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <salesrule>
                        <class>tele4G_sales/observer</class>
                        <method>salesOrderAfterPlace</method>
                    </salesrule>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <ss4 translate="title" module="tele4G_sS4Integration">
                                        <title>SS4 Integration</title>
                                    </ss4>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    <default>
        <tele4G>
            <ss4>
                <wsdl>http://angliatest2.tele2.se/proxy/ComviqOrderWS?wsdl</wsdl>
                <wsdl_log>http://angliatest2.tele2.se/proxy/ComviqOrderWS?wsdl</wsdl_log>
                <selling_reseller_number>900881</selling_reseller_number>
                <use_from_cookie>0</use_from_cookie>
                <regular_customer_number>706137</regular_customer_number>
            </ss4>
            <variables>
                <domain_cookie>.comviq.se</domain_cookie>
                <alternative_vat_rate>0.8</alternative_vat_rate>
                <alternative_vat_rate_for_insurance>1</alternative_vat_rate_for_insurance>
                <tele4G_main_page>https://www.comviq.se/</tele4G_main_page>
                <tele4G_mbb_page>https://www.comviq.se/mobilt-bredband</tele4G_mbb_page>
            </variables>
            <downgrade>
                <downgrade_error>0</downgrade_error>
            </downgrade>
        </tele4G>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tele4G>
                                            <title>Tele4G - All</title>
                                        </tele4G>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <sS4Integration>
                <use>standard</use>
                <args>
                    <module>Tele4G_SS4Integration</module>
                    <frontName>sS4Integration</frontName>
                </args>
            </sS4Integration>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <!--<popular_devices_stock_update>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>tele4G_sS4Integration/observer::updatePopularDevices</model></run>
            </popular_devices_stock_update>-->
            <all_devices_stock_update>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>tele4G_sS4Integration/observer::updateAllDevices</model></run>
            </all_devices_stock_update>
            <!--<accessories_stock_update>
                <schedule><cron_expr>7 3 * * *</cron_expr></schedule>
                <run><model>tele4G_sS4Integration/observer::updateAccessories</model></run>
            </accessories_stock_update>-->
        </jobs>
    </crontab>
</config>
