<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_Subscription />
    </modules>
    <global>
        <models>
            <tele4G_subscription>
                <class>Tele4G_Subscription_Model</class>
            </tele4G_subscription>
            
        </models>
        <blocks>
            <tele4G_subscription>
                <class>Tele4G_Subscription_Block</class>
            </tele4G_subscription>
        </blocks>
        <helpers>
            <tele4G_subscription>
                <class>Tele4G_Subscription_Helper</class>
            </tele4G_subscription>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <tele4G>
                    <file>tele4G_subscription.xml</file>
                </tele4G>
            </updates>
        </layout>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Tele4G_Subscription</module>
                    <frontName>subscription</frontName>
                </args>
            </subscription>
        </routers>
        <translate>
            <modules>
                <Tele4G_Subscription>
                    <files>
                        <default>Tele4G_Subscription.csv</default>
                    </files>
                </Tele4G_Subscription>
            </modules>
        </translate>
        <cache>
            <requests>
                <tele4G>
                    <allProducts>
                        <index>enterprise_pagecache/processor_default</index>
                    </allProducts>
                </tele4G>
            </requests>
        </cache>
    </frontend>
    <default>
        <tele4G_subscription>
            <category_devices>configurable_devices</category_devices>
            <frontend>
                <subscription>
                    <list_mode>pre-post</list_mode>
                </subscription>
            </frontend>
        </tele4G_subscription>
    </default>
</config>
