<?xml version="1.0"?>
<config>
    <modules>
    <Tele2_CatalogInventory>
        <version>0.0.1</version>
    </Tele2_CatalogInventory>
    </modules>
    <global>
        <models>
            <tele2_cataloginventory>
                <class>Tele2_CatalogInventory_Model</class>
                <resourceModel>tele2_cataloginventory_resource</resourceModel>
            </tele2_cataloginventory>
            <tele2_cataloginventory_resource>
                <class>Tele2_CatalogInventory_Model_Resource</class>
                <entities>
                    <virtualstock>
                        <table>tele2_virtualstock</table>
                    </virtualstock>
                </entities>
            </tele2_cataloginventory_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_inventory>Tele2_CatalogInventory_Block_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <tele2_cataloginventory_setup>
                <setup>
                    <module>Tele2_CatalogInventory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </tele2_cataloginventory_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <virtual_stock_save>
                        <class>tele2_cataloginventory/observer</class>
                        <method>virtualStockSave</method>
                    </virtual_stock_save>
                </observers>
            </catalog_product_save_after>
            <checkout_submit_all_after>
                <observers>
                    <virtual_stock_use>
                        <class>tele2_cataloginventory/observer</class>
                        <method>virtualStockUse</method>
                    </virtual_stock_use>
                </observers>
            </checkout_submit_all_after>
        </events>
        <helpers>
            <tele2_catalogInventory>
                <class>Tele2_CatalogInventory_Helper</class>
            </tele2_catalogInventory>
        </helpers>
    </global>
    <default>
        <cataloginventory>
            <item_options>
                <virtual_stock>1</virtual_stock>
            </item_options>
            <options>
                <outofstock_alert_send>0</outofstock_alert_send>
                <outofstock_alert_address>support@example.com</outofstock_alert_address>
            </options>
        </cataloginventory>
    </default>
    <crontab>
        <jobs>
            <outofstock_check>
                <schedule>
                    <cron_expr>0 7,12,17 * * 1-5</cron_expr>
                </schedule>
                <run>
                    <model>tele2_cataloginventory/observer::checkstock</model>
                </run>
            </outofstock_check>
        </jobs>
    </crontab>
</config>