<?xml version="1.0"?>
<config>
    <modules>
        <Tele2_WebsiteRestriction>
            <version>0.0.0.1</version>
        </Tele2_WebsiteRestriction>
    </modules>
    <global>
        <models>
            <tele2_websiterestriction>
                <class>Tele2_WebsiteRestriction_Model</class>
                <resourceModel>tele2_websiterestriction_resource</resourceModel>
            </tele2_websiterestriction>
            <enterprise_websiterestriction>
                <rewrite>
                    <observer>Tele2_WebsiteRestriction_Model_Observer</observer>
                </rewrite>
            </enterprise_websiterestriction>
        </models>
        <helpers>
            <tele2_websiteRestriction>
                <class>Tele2_WebsiteRestriction_Helper</class>
            </tele2_websiteRestriction>
        </helpers>
        <resources>
            <tele2_websiterestriction_setup>
                <setup>
                    <module>Tele2_WebsiteRestriction</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </tele2_websiterestriction_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Tele2_WebsiteRestriction>
                    <files>
                        <default>Tele2_WebsiteRestriction.csv</default>
                    </files>
                </Tele2_WebsiteRestriction>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Tele2_WebsiteRestriction>
                    <files>
                        <default>Tele2_WebsiteRestriction.csv</default>
                    </files>
                </Tele2_WebsiteRestriction>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <general>
            <restriction>
                <request_attribute>uid</request_attribute>
            </restriction>
        </general>
    </default>
    <websites>
        <mecenat>
            <general>
                <restriction>
                    <is_active>1</is_active>
                    <mode>3</mode>
                    <cms_page>root</cms_page>
                    <cookie_name>mecenat</cookie_name>
                    <cookie_value>mecenat</cookie_value>
                    <cookie_check_value>0</cookie_check_value>
                    <request_service_wsdl>https://www.mecenat.se/API/verify.asmx?WSDL</request_service_wsdl>
                    <request_service_username>Comviq</request_service_username>
                    <request_service_password>x48i#55pRT</request_service_password>
                    <request_session_variable>mecenat</request_session_variable>
                    <request_service_referal_url>www.mecenat.se</request_service_referal_url>
                </restriction>
            </general>
            <web>
                <unsecure>
                    <base_url>http://webbutik.comviq.se/mecenat/</base_url>
                    <base_link_url>http://webbutik.comviq.se/mecenat/</base_link_url>
                </unsecure>
            </web>
        </mecenat>
        <studentkortet>
            <general>
                <restriction>
                    <is_active>1</is_active>
                    <mode>5</mode>
                    <cms_page>root</cms_page>
                    <referrer_session_variable>studentkortet</referrer_session_variable>
                    <referrer_url>google.com</referrer_url>
                </restriction>
            </general>
        </studentkortet>
    </websites>
</config>
