<?xml version="1.0"?>
<config>
    <modules>
        <Tele2_FreeGift>
            <version>0.0.2</version>
        </Tele2_FreeGift>
    </modules>
    <global>
        <models>
            <tele2_freeGift>
                <class>Tele2_FreeGift_Model</class>
                <resourceModel>tele2_freeGift_resource</resourceModel>
            </tele2_freeGift>
            <tele2_freeGift_resource>
                <class>Tele2_FreeGift_Model_Resource</class>
                <entities>
                    <tele2_freegift>
                        <table>tele2_freegift</table>
                    </tele2_freegift>
                </entities>
            </tele2_freeGift_resource>
        </models>
        <blocks>
            <tele2_freeGift>
                <class>Tele2_FreeGift_Block</class>
            </tele2_freeGift>
        </blocks>
        <helpers>
            <tele2_freeGift>
                <class>Tele2_FreeGift_Helper</class>
            </tele2_freeGift>
        </helpers>
        <resources>
            <tele2_freeGift_setup>
                <setup>
                    <module>Tele2_FreeGift</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </tele2_freeGift_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <tele2_freegift>
                    <file>tele2/freegift.xml</file>
                </tele2_freegift>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <freegift before="Mage_Adminhtml">Tele2_FreeGift_Adminhtml</freegift>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
