<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_Common>
            <version>0.0.2</version>
        </Tele4G_Common>
    </modules>
    <global>
        <blocks>
            <tele4G_common>
                <class>Tele4G_Common_Block</class>
            </tele4G_common>
        </blocks>
        <helpers>
            <tele4G_common>
                <class>Tele4G_Common_Helper</class>
            </tele4G_common>
        </helpers>
        <models>
            <tele4G_common>
                <class>Tele4G_Common_Model</class>
            </tele4G_common>
        </models>
        <resources>
            <tele4G_common_setup>
                <setup>
                    <module>Tele4G_Common</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </tele4G_common_setup>
        </resources>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <common_controller_action_postdispatch>
                        <class>tele4G_common/observer</class>
                        <method>setCountItemsCartToCookie</method>
                    </common_controller_action_postdispatch>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>    
    <frontend>
        <cache>
            <requests>
                <core>
                    <index>enterprise_pagecache/processor_default</index>
                </core>
            </requests>
        </cache>
        <layout>
            <updates>
                <tele4G_commonadform>
                    <file>adform.xml</file>
                </tele4G_commonadform>
            </updates>
        </layout>
        <routers>
            <tele4G_nocache>
                <use>standard</use>
                <args>
                    <module>Tele4G_Common</module>
                    <frontName>tele4G_nocache</frontName>
                </args>
            </tele4G_nocache>
        </routers>
    </frontend>
    <default>
        <design>
            <package>
                <name>enterprise</name>
            </package>
            <theme>
                <layout>tele4g</layout>
                <locale>tele4g</locale>
                <skin>tele4g</skin>
                <template>tele4g</template>
            </theme>
        </design>
        <web>
            <default>
                <front>subscription/allProducts</front>
            </default>
        </web>
        <system>
            <smtp>
                <host>mailrelay.tele2.se</host>
            </smtp>
        </system>
        <cookie_for_items_cart>
            <domain>.comviq.se</domain>
        </cookie_for_items_cart>
    </default>
</config>
