 /*!
 * Comviq v1.0, Copyright 2012 Comviq
 */

/* FIXME: Change to Dezen when we get it. */
/*Pink*/
/*Yellow*/
/*Blue buttons*/
/*Blue buttons hover*/
/*Green buttons*/
/*Green buttons hover*/
/*Papergreybrown bg*/
/*Blue*/
/*Purple*/
/*Orange*/
/*Green*/
/*Dark grey*/
/*Medium grey*/
/*Light grey*/
/*Dark papergreybrown*/

body {
  padding-top: 87px;
  word-spacing: 80%;
  line-height: 100%;
  font: 16px/23px arial, "sans-serif";
}
table {
  font: 14px/23px arial, "sans-serif";
}
a {
  color: #ec008c;
}
.btn-link {
  color: #ec008c;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding-left: 0;
}
a:hover,
.btn-link:hover {
  color: #ec008c;
}
p {
  margin-bottom: 0.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 94%;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  margin-top: 0.5em;
  color: inherit;
}
h1 small { font-size: 16px; }
h1 {
  font: 32px/34px Arial, sans-serif;
}
h2 {
  font: 26px/32px Arial, sans-serif;
}
h3 {
  font: 20px/26px Arial, sans-serif;
  letter-spacing: .01em;
  /* FIXME: tracking 10px; not sure how to convert that but .01em (pxtoem.com) is more or less 0px */

}
h3.h3-half {
  font: 22px/28px Arial, sans-serif;
  letter-spacing: normal;
}
h4 {
  font-size: 14px;
  line-height: 19px;
}
h5 {
  font-size: 13px;
}
hr {
  margin-top: 23px;
  margin-bottom: 14px;
}
.pictogram {
  width: 15px;
  height: 22px;
  margin-top: 2px;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../gfx/Icons/glyphicons-halflings.png");
}
/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../gfx/Icons/glyphicons-halflings-white.png");
}

.icon.comviq {
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-white.png");
}
.icon.comviq.icon-arrow-bullet {
  background-position: 0 -14px;
}
.icon.comviq.icon-caret {
  background-position: 0 0;
}
.icon.comviq.icon-phone {
  background-position: -14px 0px;
  width: 15px;
  height: 22px;
  margin-top: 2px;
}
.icon.comviq.icon-white {
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-white.png");
}
.icon.comviq.icon-black {
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-black.png");
}
.open .icon.comviq {
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-black.png");
}
button.close {
  background-color: transparent;
  background-image: url("../gfx/close-button.png");
  background-position: 0 0;
  filter: none;
  height: 18px;
  opacity: 1;
  width: 18px;
}
button.close:hover {
  background-position: -18px 0;
  filter: none;
  opacity: 1;
}
#header .top-row {
  background: white;
  color: black;
}
#header .top-row .call-info {
  /*padding: 10px 0;*/
  min-height: 0;
  font-size: 12px;
  font-weight: bold;
}
#header .top-row .call-info span {
  padding-right: 15px;
  font-weight: bold;
  padding-top: 5px;
  display: inline-block;
}
#header .top-row .actions {
  float: right;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-align: right;
}
#header .top-row .actions i.icon {
  margin-left: 3px;
}
#header .top-row .actions .btn-group {
  float: left;
  margin-top: 0;
}
#header .top-row .actions .btn-group .btn.dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 9px;
  margin: 0;
}
#header .top-row .actions .open .btn.dropdown-toggle:active,
#header .top-row .actions .open .btn.dropdown-toggle {
  background: white;
  border: 1px solid #b4b4b4;
  border-bottom: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  padding: 8px 6px;
}
#header .top-row .actions .btn-group + .btn-group {
  margin-left: 1px;
}
#header .top-row .actions .dropdown-menu {
  border: 1px solid #b4b4b4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
  text-align: left;
}
#header .top-row .actions .dropdown-menu form {
  margin: 0;
}
#header .top-row .actions .dropdown-menu .btn-link {
  color: #ec008c;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding-left: 0;
  font-size: 12px;
  margin-top: 12px;
}
#header .top-row .actions .login-dropdown {
  left: -121px;
  padding: 19px 19px 3px;
  width: 266px;
}
#header .top-row .actions .login-dropdown .partial-boarder {
  position: absolute;
  top: -1px;
  right: 104px;
  width: 79px;
  height: 1px;
  background: white;
}
#header .top-row .actions .create-account-dropdown {
  left: -203px;
  padding: 19px;
  width: 266px;
}
#header .top-row .actions .create-account-dropdown .partial-boarder {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 101px;
  height: 1px;
  background: white;
}
#header .nav {
  font-size: 20px;
  margin: 0;
}
#header .nav > li.logo {
  width: 168px;
}
#header .nav > li.logo a {
  text-indent: -2000px;
  overflow: hidden;
  background: url("../tele2_logo.png") no-repeat scroll left center;
}
#header .nav > li.voice {
  width: 164px;
}
#header .nav > li.voice .dropdown-menu {
  left: -171px;
}
#header .nav > li.broadband {
  width: 232px;
}
#header .nav > li.broadband .dropdown-menu {
  left: -336px;
}
#header .nav > li.customer-services {
  width: 201px;
}
#header .nav > li.customer-services .dropdown-menu {
  left: -569px;
}
#header .nav > li.refill {
  width: 208px;
}
#header .nav > li.refill .dropdown-menu {
  left: -771px;
}
#header .nav > li.logo > a,
#header .nav > li.dropdown > a {
  text-align: center;
  padding: 17px 0;
}
#header .nav > li.logo > a .caret,
#header .nav > li.dropdown > a .caret {
  margin-top: 7px;
  margin-left: 7px;
  display: inline-block;
  width: 12px;
  height: 8px;
  border: none;
  content: inherit;
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-white.png");
}
#header .nav > li.logo .dropdown-menu,
#header .nav > li.dropdown .dropdown-menu {
  padding-top: 23px;
}
#header .nav > li.logo .dropdown-menu ul,
#header .nav > li.dropdown .dropdown-menu ul {
  border-top: 1px solid gainsboro;
}
#header .nav > li.logo .dropdown-menu ul > li > a,
#header .nav > li.dropdown .dropdown-menu ul > li > a {
  padding: 10px 6px 12px;
  margin: 0;
  line-height: 18px;
  height: auto;
  border-bottom: 1px solid gainsboro;
}
#header .nav > li.logo:hover > .dropdown-toggle,
#header .nav > li.dropdown:hover > .dropdown-toggle {
  background: white;
  color: #333333;
}
#header .nav > li.logo:hover > a .caret,
#header .nav > li.dropdown:hover > a .caret {
  background-color: transparent;
  background-image: url("../gfx/icons-sprite-black.png");
}
#header .nav > li.logo:hover .dropdown-menu,
#header .nav > li.dropdown:hover .dropdown-menu {
  display: block;
}
#header .nav > .divider-vertical {
  margin: 0;
  padding: 0;
  height: 54px;
}
#header .inner-row {
  padding: 0 20px;
  width: 938px;
  display: inline-block;
}
#header .inner-row .puff {
  text-align: right;
  padding: 10px 0;
}
#header .inner-row .puff a {
  padding: 0;
  margin: 0;
}
#header .inner-row .sub-menu {
  padding: 0 10px 23px;
}
#header .inner-row .sub-menu .list-header {
  text-transform: uppercase;
  color: #333333;
}
#header .inner-row .sub-menu .list-header h3 {
  margin-top: 0;
}
#footer {
  margin-top: 30px;
  background: #cabca9;
  position: static;
  bottom: 0;
  width: 100%;
}
#footer .container .row-fluid .span3 {
  margin-top: 40px;
  margin-bottom: 40px;
}
#footer .container .row-fluid .span3 .nav-tabs > li > a,
#footer .container .row-fluid .span3 .nav-pills > li > a {
  padding: 5px 0px;
}
#footer .container .row-fluid .span3.border {
  border-right: 1px dashed #b8ad9d;
  padding-right: 30px;
}
#footer .footer-campaign {
  height: 30px;
  padding: 25px 0px;
  background-color: #00aeef;
  color: white;
  position: relative;
}
#footer .footer-campaign .splash {
  position: absolute;
  right: 115px;
  top: 50px;
  height: 185px;
  width: 160px;
  background: transparent url("../gfx/Footer/CampaignArea/kompis-splash.png") no-repeat 0;
}
#footer .footer-base {
  height: 80px;
  background-color: #333333;
  color: white;
}
/*Colored wrappers for containers*/

.wrapper-paper-brown {
  background: #cabca9;
}
.wrapper-paper-brown .jagged-border-top {
  height: 5px;
  background: transparent url("../gfx/jagged-line-sprite.png") repeat 0 top;
  position: relative;
  top: -5px;
}
.wrapper-paper-brown .jagged-border-bottom {
  height: 5px;
  background: transparent url("../gfx/jagged-line-sprite.png") repeat 0 bottom;
  position: relative;
  bottom: -5px;
}
.wrapper-grey {
  background: #efefef;
}
.wrapper-grey.border {
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}
.wrapper-yellow {
  background: #ffdf07;
}
.container-small {
  padding: 10px 0;
}
.container-medium {
  padding: 20px 0;
}
.container-large {
  padding: 30px 0;
}
/*CENTER*/

.center {
  text-align: center;
}
.center img {
  display: block;
  margin: 0 auto;
}
/*TYPOGRAPHY*/

.bold {
  font-weight: bold;
}
.web-shop.article {
  margin-bottom: 30px;
  margin-top: 7px;
  padding-bottom: 60px;
}
.web-shop hr {
  border: none;
  border-top: 1px dashed #bcbcbc;
  padding: 0;
  margin: 15px 0;
}
.web-shop .dirt {
  display: inline-block;
  font-size: 12px;
  padding: 5px 0;
}
.web-shop .products-column {
  background-color: #efefef;
  border: 1px solid #bcbcbc;
  padding-bottom: 16px;
}
.web-shop .products-column .column-head {
  background-color: #cabca9;
  margin-bottom: 21px;
  padding-top: 0;
}
.web-shop .products-column .column-head .price {
  color: #ec008c;
  font-size: 45px;
  line-height: 41px;
}
.web-shop .products-column .column-head .price small {
  font-size: 25px;
}
.web-shop .products-column .product-item {
  width: 268px;
  height: 400px;
  margin: 0 auto;
}
.web-shop .products-column .product-item .inner {
  position: absolute;
  width: 250px;
  padding: 20px 9px;
}
.web-shop .products-column .product-item .additional {
  display: none;
  margin-top: 10px;
}
/* Hover state */
.web-shop .products-column .product-item:hover {
  z-index: 10;
}
.web-shop .products-column .product-item:hover .inner {
  z-index: 10;
  background: #fff;
  border: 1px solid #bcbcbc;
  margin: -1px 0 0 -1px;
}
.web-shop .products-column .product-item:hover .additional {
  display: block;
}

.web-shop .product-item .color-chooser {
  display: inline-block;
}

.web-shop .products-column .product-item h3 a {
  color: #333;
}
.web-shop .colors {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: text-top;
}
.web-shop .colors .color {
  display: inline-block;
  height: 15px;
  width: 15px;
  padding: 2px;
  line-height: 100%;
}
.web-shop .colors .color a {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.web-shop .colors .color.active,
.web-shop .colors .color:hover {
  margin-bottom: -1px;
  padding: 1px;
  border: 1px solid black;
}
.web-shop .colors .color.color-white a { border: 1px solid #bcbcbc; width: 13px; height: 13px; }
.web-shop .colors .color.color-unknown a {
  background-color: gray;
  background-size: 2px 2px;
  background-image: -moz-linear-gradient(135deg, #fff 0%, #000 100%);
  background-image: -o-linear-gradient(135deg, #fff 0%, #000 100%);
  background-image: -webkit-linear-gradient(135deg, #fff 0%, #000 100%);
  background-image: linear-gradient(135deg, #fff 0%, #000 100%);
}
.web-shop .subscription-selector .price .price-monthly {
  font-size: 32px;
  font-weight: bold;
}
.web-shop .subscription-selector .price .price-monthly small {
  font-size: 16px;
  font-weight: normal;
}
.web-shop .subscription-selector select {
  width: 145px;
}
.web-shop .subscription-selector .tab-content .tab-pane {
  padding: 10px;
}
.web-shop .subscription-selector .binding-period label,
.web-shop .subscription-selector .activation-type label {
  font-weight: normal;
}
.web-shop .show-full-spec {
  margin-top: 10px;
  padding-left: 20px;
}
.web-shop .show-full-spec:before {
  background: url("../gfx/show-icon.png") no-repeat 0 0;
  content: '';
  display: block;
  float: left;
  height: 16px;
  margin-left: -20px;
  margin-top: 1px;
  width: 16px;
}
.web-shop .article-info {
  display: none;
  margin-top: 25px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-inverse .navbar-inner {
  filter: none;
}
.navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #333333;
  filter: none;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: none;
}
.navbar-inner .nav > li > a {
  text-shadow: none;
  color: white;
}
.navbar-inner .nav > li > a:hover,
.navbar-inner .nav > li > a:focus {
  color: #cccccc;
}
.navbar-inner .divider-vertical {
  border-right: none;
  border-left: 1px solid #2e2e2e;
}
.navbar-inner .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-inner .nav li.dropdown.active > .dropdown-toggle {
  background: #bcad9a !important;
}
.navbar-inner .nav li.dropdown.active > .dropdown-toggle .caret {
  background-image: url("../gfx/icons-sprite-black.png") !important;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  border: none;
}
.navbar .nav > li > .dropdown-menu.row-fluid,
.navbar .nav > li > .dropdown-menu.row {
  border-top: none;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 978px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: white;
  color: #333333;
}
.btn {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  font-family: arial;
  font-weight: bold;
  text-shadow: none;
}
.btn-group > .btn:first-child,
.btn-group > .btn + .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn {
  font: bold 14px/12px arial;
  padding: 8px 10px 9px;
}
.btn,
.btn-group.open .btn.dropdown-toggle {
  background: #13b0c3;
  border-top: 1px solid #13b0c3;
}
.btn:hover,
.btn-group.open .btn.dropdown-toggle:hover,
.btn:focus,
.btn-group.open .btn.dropdown-toggle:focus {
  background: #1199a8;
  border-top-color: #1199a8;
  color: white;
}
.btn.active,
.btn-group.open .btn.dropdown-toggle.active,
.btn:active,
.btn-group.open .btn.dropdown-toggle:active {
  border-top-color: #0e828f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}
.btn.disabled,
.btn-group.open .btn.dropdown-toggle.disabled,
.btn[disabled],
.btn-group.open .btn.dropdown-toggle[disabled] {
  background: #13b0c3;
  border-top-color: #13b0c3;
  color: white;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.btn-large {
  font: 20px/14px arial;
  padding: 12px 25px 13px;
}
.btn-large.btn-success {
  font-weight: normal;
}
.btn-small {
  line-height: 12px;
  padding: 5px 7px 6px;
}
.btn-mini {
  line-height: 12px;
  padding: 7px;
}
.btn-success,
.btn-group.open .btn-success.dropdown-toggle {
  background: #8ab036;
  border-top: 1px solid #8ab036;
}
.btn-success:hover,
.btn-group.open .btn-success.dropdown-toggle:hover,
.btn-success:focus,
.btn-group.open .btn-success.dropdown-toggle:focus {
  background: #76962f;
  border-top-color: #76962f;
  color: white;
}
.btn-success.active,
.btn-group.open .btn-success.dropdown-toggle.active,
.btn-success:active,
.btn-group.open .btn-success.dropdown-toggle:active {
  border-top-color: #648028;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
}
.btn-success.disabled,
.btn-group.open .btn-success.dropdown-toggle.disabled,
.btn-success[disabled],
.btn-group.open .btn-success.dropdown-toggle[disabled] {
  background: #8ab036;
  border-top-color: #8ab036;
  color: white;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.progress,
.progress .bar {
  filter: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #13b0c3;
}
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d2d2d2;
}
.dropdown-menu ul {
  margin: 0;
  list-style: none;
}
.dropdown-menu ul li a {
  font-size: 14px;
}
.dropdown-menu ul li a.active {
  background: #efefef;
}
.dropdown-menu ul li a:hover,
.dropdown-menu ul li a:focus {
  background: #333333 !important;
  filter: none;
}
label {
  font-size: 14px;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #333333;
  /* margin-bottom: 13px; exclude for now */

}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #afafaf;
  border-top: 1px solid #878787;
  font-size: 14px;
  padding-left: 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  background-color: #ffffea;
  border: 1px solid #bcbcbc;
  border-top: 1px solid #979797;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}
textarea.focused,
input[type="text"].focused,
input[type="password"].focused,
input[type="datetime"].focused,
input[type="datetime-local"].focused,
input[type="date"].focused,
input[type="month"].focused,
input[type="time"].focused,
input[type="week"].focused,
input[type="number"].focused,
input[type="email"].focused,
input[type="url"].focused,
input[type="search"].focused,
input[type="tel"].focused,
input[type="color"].focused,
.uneditable-input.focused {
  background-color: #ffffea;
  border: 1px solid #bcbcbc;
  border-top: 1px solid #979797;
}
textarea.input-vert-large,
input[type="text"].input-vert-large,
input[type="password"].input-vert-large,
input[type="datetime"].input-vert-large,
input[type="datetime-local"].input-vert-large,
input[type="date"].input-vert-large,
input[type="month"].input-vert-large,
input[type="time"].input-vert-large,
input[type="week"].input-vert-large,
input[type="number"].input-vert-large,
input[type="email"].input-vert-large,
input[type="url"].input-vert-large,
input[type="search"].input-vert-large,
input[type="tel"].input-vert-large,
input[type="color"].input-vert-large,
.uneditable-input.input-vert-large {
  padding-top: 9px;
  padding-bottom: 9px;
}
textarea.input-vert-large.span,
input[type="text"].input-vert-large.span,
input[type="password"].input-vert-large.span,
input[type="datetime"].input-vert-large.span,
input[type="datetime-local"].input-vert-large.span,
input[type="date"].input-vert-large.span,
input[type="month"].input-vert-large.span,
input[type="time"].input-vert-large.span,
input[type="week"].input-vert-large.span,
input[type="number"].input-vert-large.span,
input[type="email"].input-vert-large.span,
input[type="url"].input-vert-large.span,
input[type="search"].input-vert-large.span,
input[type="tel"].input-vert-large.span,
input[type="color"].input-vert-large.span,
.uneditable-input.input-vert-large.span {
  height: 40px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input.span {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0 !important;
}
input[class*="span"],
select[class*="span"],
.uneditable-input.span {
  height: 30px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  background-color: #fee1e5;
  border: 1px solid #f7a6a6;
  border-top: 1px solid #c58484;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #333333;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
}

.form-actions {
  background-color: transparent;
  border-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.container {
  width: 978px;
}
.row {
  margin-left: -30px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 978px;
}
.span12 {
  width: 978px;
}
.span11 {
  width: 894px;
}
.span10 {
  width: 810px;
}
.span9 {
  width: 726px;
}
.span8 {
  width: 642px;
}
.span7 {
  width: 558px;
}
.span6 {
  width: 474px;
}
.span5 {
  width: 390px;
}
.span4 {
  width: 306px;
}
.span3 {
  width: 222px;
}
.span2 {
  width: 138px;
}
.span1 {
  width: 54px;
}
.offset12 {
  margin-left: 1038px;
}
.offset11 {
  margin-left: 954px;
}
.offset10 {
  margin-left: 870px;
}
.offset9 {
  margin-left: 786px;
}
.offset8 {
  margin-left: 702px;
}
.offset7 {
  margin-left: 618px;
}
.offset6 {
  margin-left: 534px;
}
.offset5 {
  margin-left: 450px;
}
.offset4 {
  margin-left: 366px;
}
.offset3 {
  margin-left: 282px;
}
.offset2 {
  margin-left: 198px;
}
.offset1 {
  margin-left: 114px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 3.067484663%;
  *margin-left: 3.016359918%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.948875256%;
}
.row-fluid .span11 {
  width: 91.411042945%;
  *width: 91.3599182%;
}
.row-fluid .span10 {
  width: 82.82208589%;
  *width: 82.770961145%;
}
.row-fluid .span9 {
  width: 74.233128834%;
  *width: 74.18200409%;
}
.row-fluid .span8 {
  width: 65.644171779%;
  *width: 65.593047035%;
}
.row-fluid .span7 {
  width: 57.055214724%;
  *width: 57.00408998%;
}
.row-fluid .span6 {
  width: 48.466257669%;
  *width: 48.415132924%;
}
.row-fluid .span5 {
  width: 39.877300613%;
  *width: 39.826175869%;
}
.row-fluid .span4 {
  width: 31.288343558%;
  *width: 31.237218814%;
}
.row-fluid .span3 {
  width: 22.699386503%;
  *width: 22.648261759%;
}
.row-fluid .span2 {
  width: 14.110429448%;
  *width: 14.059304703%;
}
.row-fluid .span1 {
  width: 5.521472393%;
  *width: 5.470347648%;
}
.row-fluid .offset12 {
  margin-left: 106.134969325%;
  *margin-left: 106.032719836%;
}
.row-fluid .offset12:first-child {
  margin-left: 103.067484663%;
  *margin-left: 102.965235174%;
}
.row-fluid .offset11 {
  margin-left: 97.54601227%;
  *margin-left: 97.443762781%;
}
.row-fluid .offset11:first-child {
  margin-left: 94.478527607%;
  *margin-left: 94.376278119%;
}
.row-fluid .offset10 {
  margin-left: 88.957055215%;
  *margin-left: 88.854805726%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.889570552%;
  *margin-left: 85.787321063%;
}
.row-fluid .offset9 {
  margin-left: 80.36809816%;
  *margin-left: 80.265848671%;
}
.row-fluid .offset9:first-child {
  margin-left: 77.300613497%;
  *margin-left: 77.198364008%;
}
.row-fluid .offset8 {
  margin-left: 71.779141104%;
  *margin-left: 71.676891616%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.711656442%;
  *margin-left: 68.609406953%;
}
.row-fluid .offset7 {
  margin-left: 63.190184049%;
  *margin-left: 63.08793456%;
}
.row-fluid .offset7:first-child {
  margin-left: 60.122699387%;
  *margin-left: 60.020449898%;
}
.row-fluid .offset6 {
  margin-left: 54.601226994%;
  *margin-left: 54.498977505%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.533742331%;
  *margin-left: 51.431492843%;
}
.row-fluid .offset5 {
  margin-left: 46.012269939%;
  *margin-left: 45.91002045%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.944785276%;
  *margin-left: 42.842535787%;
}
.row-fluid .offset4 {
  margin-left: 37.423312883%;
  *margin-left: 37.321063395%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.355828221%;
  *margin-left: 34.253578732%;
}
.row-fluid .offset3 {
  margin-left: 28.834355828%;
  *margin-left: 28.732106339%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.766871166%;
  *margin-left: 25.664621677%;
}
.row-fluid .offset2 {
  margin-left: 20.245398773%;
  *margin-left: 20.143149284%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.17791411%;
  *margin-left: 17.075664622%;
}
.row-fluid .offset1 {
  margin-left: 11.656441718%;
  *margin-left: 11.554192229%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.588957055%;
  *margin-left: 8.486707566%;
}
.breadcrumb {
  font: 11px arial, sans-serif;
  background-color: transparent;
  font-weight: bold;
  padding-left: 0px;
  margin-bottom: 0px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb .divider {
  color: black;
}
.breadcrumb .active {
  color: black;
}
.breadcrumb a {
  text-decoration: underline;
}
.nav-tabs {
  border-bottom-color: #bcbcbc;
  font-size: 18px;
}
.nav-tabs > li {
  padding-top: 2px;
}
.nav-tabs > li > a {
  background-color: #13b0c3;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: white;
  padding-bottom: 7px;
  padding-left: 24px;
  padding-right: 24px;
}
.nav-tabs > li > a:hover {
  background-color: #1199a8;
}
.nav-tabs > li.active {
  padding-top: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  background-color: white;
  border-bottom: none;
  border-left-color: #bcbcbc;
  border-right-color: #bcbcbc;
  border-top-color: #bcbcbc;
  color: black;
  padding-bottom: 8px;
  padding-top: 9px;
}
.tab-content {
  background-color: white;
  border: 1px solid #bcbcbc;
  border-top: 0;
  margin-top: -20px;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  padding: 15px 20px 5px;
}
.tab-unboxed .nav-tabs {
  border: none;
}
.tab-unboxed .nav-tabs > li > a {
  padding-bottom: 8px;
}
.tab-unboxed .tab-content {
  border: none;
}
.tab-unboxed .tab-content > .tab-pane,
.tab-unboxed .pill-content > .pill-pane {
  padding-left: 0;
  padding-right: 0;
}
.table {
  font-size: 14px;
  line-height: 23px;
  border-bottom: 1px solid #e0e0e0;
}
.table td {
  border-top: 1px solid #e0e0e0;
  padding: 11px 20px 10px;
}
.table td.tbl-label {
  font-weight: bold;
  width: 132px;
}
.table td.tbl-label:after {
  border-right: 1px dotted #d9d9d9;
  display: block;
  height: 27px;
  content: '';
  float: right;
  margin: -4px -20px -3px 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: transparent;
}
.table-striped tbody tr.nth-child-odd td,
.table-striped tbody tr.nth-child-odd th {
  background-color: transparent;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: #f2f2f2;
}
.table-striped tbody tr.nth-child-even td,
.table-striped tbody tr.nth-child-even th {
  background-color: #f2f2f2;
}
