<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head><body>

	<div style="text-align: center; height: 400px; vertical-align: middle; padding-top: 140px;">
		<div style="font-family: Arial; font-size: 11px; margin-bottom: 20px;">You will be redirected to Auriga in a few seconds.</div>
		<img style="border: 0px;" src="http://127.0.0.1/i1/skin/frontend/default/ic_dukatbord/images/lightbox/load.gif">
  </div>

<form action="https://epayment.auriganet.eu/paypagegw" method="POST" name="auriga_checkout" id="auriga_checkout">
<input type="hidden" name="Merchant_id" value="1505" />

<input type="hidden" name="Version" value="2" />
<input type="hidden" name="Customer_refno" value="100000253" />
<input type="hidden" name="Currency" value="SEK" />
<input type="hidden" name="Amount" value="275700" />
<input type="hidden" name="VAT" value="55140" />
<input type="hidden" name="Payment_method" value="PAYPAGE" />
<input type="hidden" name="Purchase_date" value="201003021551" />
<input type="hidden" name="Response_URL" value="http://127.0.0.1/i1/auriga/auriga/response/" />
<input type="hidden" name="Goods_description" value="dukatbord" />
<input type="hidden" name="Language" value="SWE" />
<input type="hidden" name="Capture_now" value="NO" />
<input type="hidden" name="Comment" value="1 BodaNova - Oval steel soft - Presentkartong 6x3, 1 Höganäs Keramik - Skål rund 45 cl - vit 2-p" />
<input type="hidden" name="Country" value="SE" />
<input type="hidden" name="Cancel_URL" value="http://127.0.0.1/i1/auriga/auriga/cancel/" />
<input type="hidden" name="Exclude_method" value="" />
<input type="hidden" name="Exclude_card" value="" />
<input type="hidden" name="OCR_number" value="" />

<input type="hidden" name="Personal_identity" value="" />
<input type="hidden" name="Last_dayofpayment" value="20100316" />
<input type="hidden" name="Name" value="arne stein" />
<input type="hidden" name="Street_address" value="månv 24" />
<input type="hidden" name="Complementary_address" value="" />
<input type="hidden" name="City_address" value="Hölö" />
<input type="hidden" name="Postalcode_address" value="15371" />
<input type="hidden" name="MAC" value="57f1b518cfcbe36f18d3226b885d327d" />
</form>				
	<script type="text/javascript">
		//var t = setTimeout('document.getElementById("auriga_checkout").submit()',500);
	</script>
</body></html>
