<?xml version="1.0"?>
<config>
    <modules>
        <Tele4G_Checkout>
            <version>0.0.9</version>
        </Tele4G_Checkout>
    </modules>
    <global>
        <helpers>
            <tele4G_checkout>
                <class>Tele4G_Checkout_Helper</class>
            </tele4G_checkout>
        </helpers>
        <models>
            <tele4G_checkout>
                <class>Tele4G_Checkout_Model</class>
            </tele4G_checkout>
        </models>
        <resources>
            <tele4G_checkout_setup>
                <setup>
                    <module>Tele4G_Checkout</module>
                    <class>Mage_Checkout_Model_Resource_Setup</class>
                </setup>
            </tele4G_checkout_setup>
        </resources>
        <blocks>
            <tele4G_checkout>
                <class>Tele4G_Checkout_Block</class>
            </tele4G_checkout>
        </blocks>
        <events>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>tele4G_checkout/observer</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <save_togo_reseller_city>
                        <type>singleton</type>
                        <class>tele4G_checkout/observer</class>
                        <method>saveTogoResellerAndCity</method>
                    </save_togo_reseller_city>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_postdispatch_checkout_cart_delete>
                <observers>
                    <change_offer_id>
                        <type>singleton</type>
                        <class>tele4G_checkout/observer</class>
                        <method>changeOfferId</method>
                    </change_offer_id>
                </observers>
            </controller_action_postdispatch_checkout_cart_delete>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <assistant_data>
                    <to_order>*</to_order>
                </assistant_data>
            </sales_convert_quote>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <subscription_type/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Tele4G_Checkout before="Mage_Checkout">Tele4G_Checkout</Tele4G_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Tele4G_Checkout>
                    <files>
                        <default>Tele4G_Checkout.csv</default>
                    </files>
                </Tele4G_Checkout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Tele4G_Checkout>
                    <files>
                        <default>Tele4G_Checkout.csv</default>
                    </files>
                </Tele4G_Checkout>
            </modules>
        </translate>
    </adminhtml>
</config>