<div class="klarna_box_top_flag">
    <div class="box_active_language">
        <img src="{{config.web.img}}checkout/flags/{{language}}.png"
            class="flag" alt="{{language}}" />
        <img src="{{config.web.img}}checkout/arrow_down.gif"
            class="arrow" alt="" />
    </div>
    <div class="klarna_box_top_flag_list">
        <img src="{{config.web.img}}checkout/flags/en.png"
            class="flag" alt="en" />
        <img src="{{config.web.img}}checkout/flags/da.png"
            class="flag" alt="da" />
        <img src="{{config.web.img}}checkout/flags/de.png"
            class="flag" alt="de" />
        <img src="{{config.web.img}}checkout/flags/fi.png"
            class="flag" alt="fi" />
        <img src="{{config.web.img}}checkout/flags/nl.png"
            class="flag" alt="nl" />
        <img src="{{config.web.img}}checkout/flags/nb.png"
            class="flag" alt="nb" />
        <img src="{{config.web.img}}checkout/flags/sv.png"
            class="flag" alt="sv" />
    </div>
</div>
