{{#fields}}
<div class="input_row {{class}}">
    {{#title}}
        <div class="input_title">
            <span {{#title_key}}
                class="klarna_translate" data-t-key="{{title_key}}"
                {{/title_key}}>{{title}}</span>
        </div>
    {{/title}}
    {{#fields}}
    <div class="input_field {{class}}">
        {{#select}}
        <select name="{{name}}" class="klarna_select {{class}}">
            {{#values}}
                <option value="{{value}}" {{#default}}selected="selected"{{/default}} {{#disabled}}disabled="disabled"{{/disabled}}>{{text}}</option>
            {{/values}}
        </select>
        {{/select}}
        {{^select}}
        <div class="input_title klarna_translate" data-trans-key="{{title_key}}">
            <span {{#title_key}}
                class="klarna_translate" data-t-key="{{title_key}}"
                {{/title_key}}>{{title}}</span>
        </div>
        {{#radio}}
            {{#values}}
                <input id="{{id}}" class="klarna_radio {{class}}"
                    name="{{name}}" type="radio"
                    value="{{value}}"
                    {{#default}}checked="checked"{{/default}}
                    />
                <label for="{{id}}" {{#text_key}}
                    class="klarna_translate" data-t-key="{{text_key}}"
                    {{/text_key}}>{{text}}</label>
            {{/values}}
        {{/radio}}
        {{^radio}}
        <input alt="{{notice}}" type="{{type}}"
            class="klarna_{{type}} {{class}}"
            size="{{size}}"
            name="{{name}}" value="{{value}}"/>
        {{/radio}}
        {{/select}}
        <div class="input_notice">
            <span {{#notice_key}}
                class="klarna_translate" data-t-key="{{notice_key}}"
                {{/notice_key}}>{{notice}}</span>
        </div>
    </div>
    {{/fields}}
</div>
{{/fields}}
