<?xml version="1.0" ?><config>
    <modules>
        <Icommerce_Auriga>
            <version>0.1.40</version>
            <depends>
                <Mage_Payment/>
            </depends>
        </Icommerce_Auriga>
    </modules>
    <global>
    	<models>
    		<auriga>
	    		<class>Icommerce_Auriga_Model</class>
	    	</auriga>
    	</models>
    	<helpers>
    		<auriga>
    			<class>Icommerce_Auriga_Helper</class>
    		</auriga>
    	</helpers>
    	<blocks>
            <auriga>
            	<class>Icommerce_Auriga_Block</class>
            </auriga>
        </blocks>
        <resources>
            <auriga_setup>
                <setup>
                    <module>Icommerce_Auriga</module>
                    <class>Icommerce_Auriga_Model_Entity_Setup</class>
                </setup>
                <connection><use>core_setup</use></connection>
            </auriga_setup>
            <auriga_write>
                <connection><use>core_write</use></connection>
            </auriga_write>
            <auriga_read>
                <connection><use>core_read</use></connection>
            </auriga_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <auriga>
                <use>standard</use>
                <args>
                    <module>Icommerce_Auriga</module>
                    <frontName>auriga</frontName>
                </args>
            </auriga>
        </routers>
    </frontend>
    <frontend>
        <layout>
            <updates>
                <auriga>
                    <file>ic_auriga.xml</file>
                </auriga>
            </updates>
        </layout>
    </frontend>
	<frontend>
        <!-- <translate>
            <modules>
                <Icommerce_Auriga>
                    <files>
                        <default>Icommerce_Auriga.csv</default>
                    </files>
                </Icommerce_Auriga>
            </modules>
        </translate> -->
    </frontend>
	<default>
        <payment>
            <auriga>
                <active>1</active>
                <order_status_reserved>pending</order_status_reserved>
                <order_status_captured>captured</order_status_captured>
                <order_status_pay_failed>pay_failed</order_status_pay_failed>
                <title>Auriga Epayment</title>
                <sort_order>10</sort_order>
                <cgi_url>https://epayment.auriganet.eu/paypagegw</cgi_url> 
                <cgi_url_test>https://test-epayment.auriganet.eu/paypagegw</cgi_url_test> 
                <model>auriga/auriga</model>
                <invoice_days>14</invoice_days>
                <direct_capture>0</direct_capture>
                <api_test>1</api_test>
                <exclude_method/>
                <exclude_card/>
                <showlogos>Auriga</showlogos>
                <merchant_id>3301</merchant_id>
                <hemligt_ord>ac10m0kahydj6awhla8yq82cj9vci0mb</hemligt_ord>
                <selleremail>david@icommerce.se</selleremail>
                <!-- <payment_method>2</payment_method> -->
                <payment_action>authorize</payment_action>
            </auriga>
        </payment>
    </default>
</config>
